
videoComponent/AndroidOpenCV/openCVLibrary347/build/intermediates/compile_only_not_namespaced_r_class_jar/debug/R.jar
videoComponent/AndroidOpenCV/openCVLibrary347/build/intermediates/manifest_merge_blame_file/debugAndroidTest/manifest-merger-blame-debug-androidTest-report.txt
videoComponent/AndroidOpenCV/openCVLibrary347/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
*.bin
*.bin
videoComponent/AndroidOpenCV/openCVLibrary347/build/.transforms/47b8bf447e369d59bc1fd6e0d21838b0/full/classes.dex
videoComponent/AndroidOpenCV/openCVLibrary347/build/.transforms/853c96a5ba82506152dd80fcadd88d9d.bin
videoComponent/AndroidOpenCV/openCVLibrary347/build/.transforms/5392f685837b3da0fb1de29c8926e5d1.bin
videoComponent/AndroidOpenCV/openCVLibrary347/build/.transforms/880ea1f18e4f5684786aeb0c883ba5c8/full/classes.dex
videoComponent/AndroidOpenCV/openCVLibrary347/build/.transforms/ba2a00a43028e9008e1c74abbb83a1bb.bin
videoComponent/AndroidOpenCV/openCVLibrary347/build/intermediates/compile_only_not_namespaced_r_class_jar/debug/R.jar
videoComponent/AndroidOpenCV/openCVLibrary347/build/intermediates/full_jar/debug/createFullJarDebug/full.jar
videoComponent/AndroidOpenCV/openCVLibrary347/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
videoComponent/AndroidOpenCV/openCVLibrary347/build/intermediates/incremental/mergeDebugShaders/merger.xml
videoComponent/AndroidOpenCV/openCVLibrary347/build/intermediates/incremental/packageDebugAssets/merger.xml
videoComponent/AndroidOpenCV/openCVLibrary347/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
videoComponent/AndroidOpenCV/openCVLibrary347/build/intermediates/incremental/packageDebugResources/merger.xml
videoComponent/AndroidOpenCV/openCVLibrary347/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
videoComponent/AndroidOpenCV/openCVLibrary347/build/intermediates/manifest_merge_blame_file/debugAndroidTest/manifest-merger-blame-debug-androidTest-report.txt
videoComponent/AndroidOpenCV/openCVLibrary347/build/outputs/logs/manifest-merger-debug-report.txt
videoComponent/AndroidOpenCV/openCVLibrary347/build/intermediates/merged_manifests/debug/output.json
videoComponent/AndroidOpenCV/openCVLibrary347/build/intermediates/manifest_merge_blame_file/debugAndroidTest/manifest-merger-blame-debug-androidTest-report.txt
