
videoComponent/AndroidOpenCV/openCVLibrary347/build/intermediates/compile_only_not_namespaced_r_class_jar/debug/R.jar
videoComponent/AndroidOpenCV/openCVLibrary347/build/intermediates/manifest_merge_blame_file/debugAndroidTest/manifest-merger-blame-debug-androidTest-report.txt
videoComponent/AndroidOpenCV/openCVLibrary347/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
